<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting type="lsep" label="51004"/>
	<setting id="mkvlocation" type="file" label="50001" default="makemkvcon"/>
	<setting id="wait_timeout" type="number" label="51003" default="120" />
	<setting id="port_number" type="number" label="51002" default="51000" />

	<setting type="lsep" label="51005"/>
	<setting id="support_disc" type="bool" label="51006" default="true" />
	<setting id="support_fileselect" type="bool" label="51007" default="true"/>

</settings>
